version: '3'
services:
  site:
    image: jekyll/jekyll:latest
    command: jekyll serve --livereload --force_polling
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/srv/jekyll